@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.container {
  width: 100%;
  max-width: calc($container-width + ($container-padding-desktop * 2));
  margin-inline: auto;
  padding-inline: $container-padding-desktop;

  @include tablet {
    padding-inline: $container-padding-tablet;
  }

  @include mobile {
    padding-inline: $container-padding-mobile;
  }
}
